.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.card {
  position: relative; 
  width: 320px;
  height: 180px;
  border-radius: 12px;
  padding: 20px;
  color: #f0e6ff;
  background-color: #1e1e2e;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  font-family: 'Quantico', sans-serif;
  z-index: 1;
}

.card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 12px;
  padding: 1px;
  background: linear-gradient(to bottom, #b0b0b0, #6e6e6e);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  z-index: -1;
}

.card:hover {
  transform: scale(1.05);
  background-color: #2a2a3e;
}

.card:hover .ccvOverlay {
  opacity: 1;
  visibility: visible;
}

.ccvOverlay {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff; 
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: bold;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 2;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 33%;
  font-family: 'Inter', sans-serif;
}

.logo {
  width: 40px;
  height: 40px;
}

.cardNumber {
  text-align: center;
  font-size: 1.2rem;
  letter-spacing: 2px;
  height: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Quantico', sans-serif;
}

.cardDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  text-transform: uppercase;
  height: 17%;
  font-family: 'Quantico', sans-serif;
}

.cardHolder {
  text-align: left;
}

.expiryDate {
  text-align: left;
}

.deleteButton {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
}

.deleteButton:hover {
  background-color: var(--button-hover-bg-color);
}

