:root {
  --button-bg-color: #6a5acd;
  --button-hover-bg-color: #483d8b;
  --button-text-color: #ffffff;
  --background-color: #1a1a1a;
  --text-color: #e6e6fa;
  --text-hover-color: #dcdcdc;
  --heading-color: #baa3e4;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Inter', sans-serif;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.appWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

h1 {
  color: var(--heading-color);
  margin: 20px 0;
}

button {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--button-hover-bg-color);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-bottom: 30px;
}

.addButton {
  margin-top: 20px;
  text-decoration: none;
  text-align: center;
}